:root {
  /* --- Colors --- */
  --darker: #0E1114;
  --dark: #171B1E;
  --grey: #272D31;
  --lightgrey: #5F6971;
  --yellow: #E8BF37;
  --blue: #02D7E4;
  --purple: #8C69FB;
  --pink: #BF18A2;
  --white: #E2D3ED;

  /* --- Fonts --- */
  --fancy-font: 'Hedvig Letters Serif', 'Times New Roman', serif;
  --mono-font: 'GoMono Nerd Font', "Courier New", Courier, monospace;

  /* --- UI --- */
  --radius: 6px;
}
* {
  box-sizing: border-box;
  font-family: var(--mono-font);
}

html {
  background-color: var(--dark);
  color: var(--white);
}

body {
  padding: 0px;
  margin: 0;
  height: 100dvh;
  width: 100vw;
}

#app {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  color: var(--yellow);
  font-family: var(--fancy-font);
}

.subtitle {
  color: var(--lightgrey);
}
